/* las proporciones no quedaron exactas,
pero creo que quedó bien, muy parecido */

html {
  --color-negro: #131313;
  --color-verde: #73f33e;
  --color-gris: #828282;
  --color-gris-oscuro: #3f3f3f;
  --color-gris-claro: #ababab;
}

body {
  font-size: 16px; /* 1 em */
  margin: 0px auto;
  max-width: 1024px;
  font-family: sans-serif;
  vertical-align: top;
  position: relative;
}

footer article {
  display: inline-block;
  padding: 19px;
  vertical-align: top;
  width: 15.9%;
}

footer span {
  display: inline-block;
}

footer article ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav {
  width: 550px;
}

header nav ul {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0px;
  padding-left: 15px;
}

header nav ul li {
  display: inline-block;
  margin-right: 15px;
}

hr {
  color: var(--color-gris);
}

main section {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}

#banderas {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.botón-buy {
  position: absolute;
  top: 70px;
  right: 300px;
  width: 15%;
}

.comprar {
  float: right;
  width: 400px;
  height: 130px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.cuerpo-der {
  margin-left: 50px;
}

.cuerpo-izq {
  margin-top: 10px;
}

#firstbike {
  margin-left: 20px;
  margin-top: 5px;
  width: 200px;
}

.go-shop {
  position: absolute;
  right: 110px;
  top: 0px;
  width: 50%;
}

.ícono {
  width: 30px;
  margin-top: 0px;
}

.letra-gris {
  color: var(--color-gris);
}

.letra-gris-claro {
  color: var(--color-gris-claro);
}

.letra-gris-oscuro {
  color: var(--color-gris-oscuro);
}

.letra-negra {
  color: var(--color-negro);
}

.letra-verde {
  color: var(--color-verde);
}

.líneas {
  border-style: dashed;
}

.negrita {
  font-weight: 600;
}

.tam-título {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4em;
  line-height: 90px;
}

.vid {
  margin-top: 30px;
  width: 47.2%;
}

#vid01 {
  margin-right: 20px;
}

#bici {
  width: 490px;
}

#contacto {
  margin: 0px auto;
  height: 50px;
}

#derechos {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  bottom: 20px;
}

#garantía {
  position: absolute;
  right: 346px;
  top: 700px;
  width: 15%;
}
